html,body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    display: block;
}
a:hover{
    scale: 1.05;
    color: rgb(250, 153, 41);
}
#btn_3{
    color: rgb(250, 153, 41);
}
header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color:rgba(185, 166, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur;
    z-index: 9999;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.logo{
    position: absolute;
    width: 9%;
    height: auto;
    top: 5%;
    left: 5%;
}
.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 10%;
    width: 25%;
    height: 90%;
}
.firstpage{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:#416ca1;
}

.left{
    display: flex;
    align-items: center;
    height: 60%;
    width: 30%;
    /* background-color: aliceblue; */
    border-radius: 15px;
    box-sizing: border-box;
    padding-left: 6%;
    font-size: 78px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* color: aliceblue; */
    color: #ffa600;
}
.right{
    height: 70%;
    width: 60%;
    background-color:aliceblue;
    border-radius: 15px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
}
.right:hover{
    scale: 1.02;
}
.title{
    font-size: 48px;
    color: #416ca1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-left: 5%;
}
.team{
    width: 100%;
    height: 85%;
    margin-top: 1.9%;
    background-image: url(../image/team.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.whole{
    position: relative;
    overflow-x: hidden;
    /* background-image: linear-gradient(150deg,#416ca1,#6eafff96,#416ca1); */

}
.detail{
    display: flex;
    width: 600vw;
    /* background-image: linear-gradient(90deg,#416ca1,azure,#416ca1); */
}
.card{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #416ca1;
    /* background: linear-gradient(180deg, #5A7FBF 0%, #3A64A0 60%, #24477D 100%); */
}
.people{
    width: 80%;
    height: 80%;
    background-color:aliceblue;
    display: flex;
    border-radius: 15px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
}
.head{
    border-right:3px solid #416ca1;    
    border-top:3px solid #416ca1;    
    border-bottom:3px solid #416ca1;
    border-radius: 15px;    
    flex: 1;
}
.touxiang{
    width: 100%;
    height: 70%;
    border-bottom: 3px dashed #416ca1;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#t1{
    background-image: url(../image/lzh.png);
}
#t2{
    background-image: url(../image/qwen.png);
}
#t3{
    background-image: url(../image/豆包.png);
}
#t4{
    background-image: url(../image/chatgpt.png);
}
#t5{
    background-image: url(../image/抠抠图.png);
}
#t6{
    background-image: url(../image/px.png);
}
.name{
    font-size: 55px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #2a4b72;
    text-align: center;
    line-height: 1.75;
    margin-top: 3%;
}
.task{
    font-size: 33px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #2a4a72b0;
    text-align: center;
}
.zuoyouming{
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 7%;
    color: #417abe54;
}
.info{
    flex: 2;
}
.info h1{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    color:#2a4b72;
    padding-left: 4%;
    padding-top: 3%;
}
.info p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    padding-left: 4%;
    color: #416ca1;
    line-height: 1.25;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}
.info li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    color: #416ca1;
    line-height: 1.25;
    margin-left: 1%;
}
.selfintro{
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding-right: 10%;
}
.attribution{
    padding-top: 4%;
}
.selfintro h1::before{
    content: "";
    position: absolute;
    left: 38.75%;
    top: 23%;
    width: 46%;
    height: 4px;
    background-color: #5d8cc539;
}

.attribution h1::before{
    content: "";
    position: absolute;
    left: 38.75%;
    top: 62.9%;
    width: 46%;
    height: 4px;
    background-color: #5d8cc539;
}